src/main/resources/wsdl/1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="http://sms.util.sinopharm.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sms.util.sinopharm.com/">

<xs:element name="sendSMS" type="tns:sendSMS"/>

<xs:element name="sendSMSResponse" type="tns:sendSMSResponse"/>

<xs:complexType name="sendSMS">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendSMSResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>